<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="GameserverID" value="1" />
        <add key="MachineAddress" value="127.0.0.1" />
        <add key="BaseUrl" value="https://polygondev.pizzaboxer.xyz/api/polygongs" />
        <add key="BaseUrlHTTP" value="http://polygondev.pizzaboxer.xyz/api/polygongs" />
        <add key="AccessKey" value="" />
        <add key="ServicePort" value="64989" />
        <add key="InternalBasePort" value="53640" />
        <add key="ExternalPortOffset" value="0" />
        <add key="MaximumJobs" value="5" />
    </appSettings>
</configuration>